<header>
    <nav class="navbar navbar-top navbar-default" role="navigation">
        <div class="container">
            <div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/index" aria-label="Pacha Commander">
                        <h1>bistró</h1>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar-collapse" data-seccion="Patrones">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#/users">Users</a></li>
                        <li><a href="#/aboutUs">About Us</a></li>
                        <li><a href="#/register">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>