<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Register Form</h1>           
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form method="POST">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input class="form-control" type="text" id="nombre">
                    </div>
                
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input class="form-control" type="text" id="apellido">
                    </div>
                
                    <div class="form-group">
                        <label for="edad">Edad</label>
                        <input class="form-control" type="text" id="edad">
                    </div>
                                
                    <button class="btn btn-success my-3">Enviar</button>
                </form>
                
            </div>
        </div>
    </div>

</section>